### Python
__pycache__/
*.py[cod]
*.egg-info/
.mypy_cache/
.pytest_cache/

### Airflow
logs/
*.log
airflow.db
airflow-webserver.pid

### PostgreSQL (volume local)
pgdata/

### dbt
dbt/target/
dbt/dbt_packages/
target/
dbt_packages/

### Environnement / Secrets
.env
.venv/
.idea/
.vscode/
.DS_Store

### Coverage / Reports
htmlcov/
.coverage*
coverage.xml
